{% extends 'base.html.twig' %}
{% block title %}Liste des Burgers - {{ parent() }}{% endblock %}

{% block body%}
{% if burger == null %}

<h1> Le burger n'existe pas, pas de détails. </h1>

{% else %}
<h1> Bienvenue sur les détails du burger {{ burger.getId() }}, le {{ burger.getName() }} !</h1>

Voici sa ses ingrédients : 
<ul>
    <li>Pain : {{ burger.getPain().getName() }}</li>
    <li>Oignon : {{ burger.getOignon().getName() }}</li>
    <li>Sauces : {% for sauce in burger.getSauces() %} {{sauce.getName()}}, {% endfor %}</li>
        
</ul>


Voici ses commentaires : 
<ul>
    {% for commentaire in burger.getCommentaires() %}
        <li>{{ commentaire.getContent() }}</li>
    {% else %}
        <li>No comments available.</li>
    {% endfor %}
</ul>


{% endif %}

{% endblock %}

